.s-link {
    transition: 0.1s;
}

.s-link:hover {
    background-color: #0036c91a;
}

.s-link a {
    color: black;
    transition: 0.15s;
}

.s-link a:hover {
    color: #0036c9;
    text-decoration: none;
}

#messagesPane {
    height: 100vh;
    border-left: 1px solid gainsboro;
    width: 100%;
}

#viewMessagePanel {
    height: 100vh;
    width: 100%;
}

#from-addresses {
    max-width: 800px;
    overflow-y: scroll;
}

#content {
    padding-bottom: 100px;
}

.from-address-info li {
    font-family: monospace;
    list-style: none;
}